<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WoWnikTwitch">
    <meta name="author" content="WoWnik">
    <link rel="icon" type="image/png" href="{{ static_url('images/favicon.png') }}">

    <title>WoWnikTwitch</title>

    {% raw google_anal %}
    {% raw imports %}
    <link href="{{ static_url('dist/twitch.css') }}" rel="stylesheet">
</head>

<body>
<div id="root-js" class="content"></div>
</body>

<script src="{{ static_url('dist/twitch.js') }}"></script>

</html>
