.cardBackImage {
  object-fit: cover;
  height: 150px;
  border: none;
}

.avatar {
  width: 60px;
  height: 60px;
}

.cardSpace {
  margin-top: 15px;
  margin-bottom: 15px;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, .6);
  height: 150px;
}

.whiteLink,
.whiteLink:hover {
  color: white;
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  height: 25px;
}
