.pagination {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  box-sizing: inherit;
  font-size: 15px;
  margin: -.25rem;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.paginationList {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  font-size: 15px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  order: 1;
}

.paginationLink {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  list-style: none;
  box-sizing: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease;
  user-select: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .4em;
  display: inline-flex;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  font-size: 1em;
  justify-content: center;
  margin: .25rem;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
  border-color: #5e6d6f;
  color: #1abc9c;
  min-width: 2.25em;
  height: 2.5em;
  border-width: 2px;
}

.paginationLink:hover {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  list-style: none;
  box-sizing: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease;
  user-select: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .4em;
  display: inline-flex;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  font-size: 1em;
  justify-content: center;
  margin: .25rem;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
  min-width: 2.25em;
  height: 2.5em;
  border-width: 2px;
  outline: 0;
  border-color: #8c9b9d;
  color: #1dd2af;
}

.paginationEllipsis {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  list-style: none;
  box-sizing: inherit;
  font-style: inherit;
  font-weight: inherit;
  user-select: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .4em;
  display: inline-flex;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  font-size: 1em;
  justify-content: center;
  margin: .25rem;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
  color: #8c9b9d;
  pointer-events: none;
  height: 2.5em;
}

.paginationLinkActive {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  list-style: none;
  box-sizing: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease;
  user-select: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .4em;
  display: inline-flex;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top;
  font-size: 1em;
  justify-content: center;
  margin: .25rem;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
  min-width: 2.25em;
  height: 2.5em;
  border-width: 2px;
  outline: 0;
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #fff;
}
